a.notify,
.drop-content li.row div a {
    color: #467a0f;
}

.proile-rating {
    font-size: 0.75em;
    color: #818182;
}

.proile-rating span {
    color: #495057;
    font-size: 0.75em;
    font-weight: 600;
}

.nbrNotify {
    border-radius: 50%;
    position: relative;
    width: 15px;
    background-color: #467a0f;
    height: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 0.75em;
    top: 18px;
    left: 15px;
}

.vip {
    border-color: #467a0f;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
}

a.sidebar-link{
    width: 200px;
}
