      /* Style for the sidebar menu */
      .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          top: 0;
          left: -250px;
          background-color: #333;
          overflow-x: hidden;
          transition: 0.3s;
          padding-top: 20px;
      }

      /* .sidebar a {
          padding: 15px 25px;
          text-decoration: none;
          font-size: 20px;
          color: #fff;
          display: block;
      } */

      .sidebar a:hover {
          background-color: #555;
      }

      /* Style for the close button */
      .closebtn {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 30px;
          color: #fff;
          cursor: pointer;
      }